@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

.profile-name{
    font-size: 36px;
    font-weight: 500;
    font-variant: small-caps;
    color: #F4F6F8;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.profile-name:hover{
        transform: scale(1.10);

}

.profile-name .logo-n{
    color: #1E90FF;
}

.profile-name .logo-bar{
    font-size: 40px;
}

body{
    background-color: #0A192F;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(30, 144, 255,.2);
    padding:0 100px 0 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 65px;
}

.header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .navbar .navbar-links a{
    padding: 5px;
    transition: all .3s ease;
}

.header .navbar .navbar-links a:hover{
    color:#1E90FF;
}

.header .navbar{
    width: 50%;
}



/*Hero Section Styling*/
.hero-section{
    width: 100vw;
    height: 610px;
    padding: 0 100px 0 100px;
    display: flex;
    border-bottom: 1px solid rgba(30, 144, 255,.2);

}
.hero-section .profile-photo{
    height: 100%;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section img{
    width: 570px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 65px;
    margin-top: 10px;
    left: 20px;
}
.hero-section .profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero-section .profile-info .hero-section-name{
    font-size: 50px;
    font-weight: 500;
}
.hero-section .profile-info .hero-section-name span{
    font-size: 50px;
    color:#1E90FF;
    font-weight: 700;
}
.hero-section .profile-info .hero-description-location{
    font-weight: 400;
    font-size: 20px;
}
.hero-section .profile-info .hero-description-connect{
    font-weight: 400;
    font-size: 20px;
}

.hero-section .profile-info .profile-info-connnect-button button{
    background-color: #1E90FF;
    border: 0;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.hero-section .profile-info .profile-info-connnect-button #view-resume{
    transition: all .3s ease;
    border: 2px solid #1E90FF;
}

.hero-section .profile-info .profile-info-connnect-button #view-resume:hover{
    transform: scale(1.08);
}

.hero-section .profile-info .profile-info-connnect-button #connect-linkedIn{
    background-color:#0A192F;
    border: 2px solid #1E90FF;
    transition: all .3s ease;
    color: #1E90FF;

}

.hero-section .profile-info .profile-info-connnect-button #connect-linkedIn:hover{
    background-color: #1E90FF;
    color: white;
}

.body-section{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(30, 144, 255,.2);

}

.body-section .body-content{
    background-color: rgba(255, 255, 255,.01);
    width: 80%;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.body-section .body-content .about-me-section{
    width: 45%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}

.body-section .body-content .about-me-section p{
    text-align: justify;
    font-size: 17px;
}

.body-section .body-content .skills-of-rotti{
    width: 45%;
    height: 40%;
}

.body-section .body-content .skills-of-rotti ul{
    display: flex;
    flex-wrap: wrap;
}

.body-section .body-content .skills-of-rotti h1{
    text-align: center;
    padding-bottom: 10px;

}

.body-section .body-content .skills-of-rotti ul li{
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    color: white;
    background-color:#1E90FF;
    margin: 5px;
    transition:all .3s linear;
    cursor: pointer;
}

.body-section .body-content .skills-of-rotti ul li:hover{
    background-color: white;
    color: #1E90FF;
}


/* footer section */

.footer-section{
    width:100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .footer-content{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(30, 144, 255,.2);
}

.footer-section .footer-content div{
    height: 100%;
    width: 30%;
}

.footer-section .footer-content .footer-about-me{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .footer-content .footer-about-me img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 85px;
    transition: all .3s ease;
}

.footer-section .footer-content .footer-about-me img:hover{
    transform: scale(1.15);
}


.footer-section .footer-content .footer-quick-links{
    flex: 3;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-section .footer-content .footer-quick-links h3{
    padding-bottom: 15px;
    font-weight: 400;
}

.footer-section .footer-content .footer-quick-links li a{
    color: rgba(255, 255, 255, 0.4);
    transition: all .3s ease;
}

.footer-section .footer-content .footer-quick-links li a:hover{
    color: #1E90FF;
}

.footer-section .footer-content .footer-quick-links li{
    padding: 5px;
}

.footer-section .footer-content .footer-contact-links{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer-section .footer-content .footer-contact-links h3{
    padding-bottom: 15px;
    font-weight: 400;
}

.footer-section .footer-content .footer-contact-links li{
    color: rgba(255, 255, 255, 0.4);
    padding: 5px;
}

.footer-section .footer-content .footer-contact-links a{
    color: rgba(255, 255, 255, 0.4);  
    transition: all .3s ease;
}

.footer-section .footer-content .footer-contact-links a:hover{
    color: #1E90FF;
}

.education-body-section{
    padding: 50px 100px 0 100px;
    height: 1900px;
    border-bottom: 1px solid rgba(30, 144, 255,.2);
}

.education-body-section h1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;
}

.education-body-section h3{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
    color: #1E90FF;
}

.education-body-section p{
    text-align: center;
    font-size: 18px;
    color:rgba(255, 255, 255,.4);
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(30, 144, 255,.2);
}

.education-body-section .my-educations-section{
    padding-top: 20px;
    height: 1040px;
}

.education-body-section .my-educations-section .education-card{
    height: 420px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 65px;
     border:1px solid rgba(30, 144, 255,.2);
    padding: 50px;
}

.education-body-section .my-educations-section .education-card .education-card-title{
    font-weight: 400;
    font-size: 21px;
}

.education-body-section .my-educations-section .education-card .university-name{
    font-weight: 400;
    font-size: 19px;
    text-align: left;
    margin-top: 1px;
}

.education-body-section .my-educations-section .education-card .degree-period{
    color: rgba(255, 255, 255,.4);
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding: 0;
    margin: 0;
}
 
.education-body-section .my-educations-section .education-card .degree-description{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    color: rgba(255, 255, 255,.8);
    padding-top: 20px;
}

.education-body-section .my-educations-section .education-card .module-and-achievement{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.education-body-section .my-educations-section .education-card .module-and-achievement div{
    height: 100%;
    width: 50%;
}

.education-body-section .my-educations-section .education-card .module-and-achievement h4{
    font-weight: 500;
    font-size: 18px;
}

.project-body-section{
    padding: 50px 100px 0 100px;
    height: 1900px;
    border-bottom: 1px solid rgba(30, 144, 255,.2);

}

.project-body-section h1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;
}

.project-body-section h3{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
    color: #1E90FF;
}

.project-body-section p{
    text-align: center;
    font-size: 18px;
    color:rgba(255, 255, 255,.4);
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(30, 144, 255,.2);
}

.project-body-section .projects-card-container{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    height:1550px;
    width: 100%;
    background-color: rgba(255, 255, 255,.01);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 65px;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.project-body-section .projects-card-container .project-card{
    height: 490px;
    width: 350px;
    border-radius: 15px;
     background-color: rgba(255, 255, 255,.03);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 65px;
    transition: all .3s ease;
}

.project-body-section .projects-card-container .project-card:hover{
    transform: scale(1.02);
}

.project-body-section .projects-card-container .project-card .project-image{
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}

.project-body-section .projects-card-container .project-card .project-image img{
    width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}





